# Project: Business Public Sentiment

Design a model to predict the sentiment (positive or negative) of text and apply it to the twitter feed of a business.

## Structure

Take a look at the files in the directory to better understand the structure of the project. 

- `data/`: Folder containing the training and test data.
- `models/`: Folder containing models.
    - `baseline_model.py`: A baseline model to start with.
    - `model.py`: The final model.

## Understanding the data-set

The training data was in a single cvs file which was over 200M in size so I've split the file into smaller files for easy of use. You can also see the testdata which is very small relative to the amount of training data.

In [2]:
print("List all the files in the data directory\n")
!ls data

List all the files in the data directory

splitfile_1.csv
splitfile_10.csv
splitfile_11.csv
splitfile_12.csv
splitfile_13.csv
splitfile_14.csv
splitfile_15.csv
splitfile_16.csv
splitfile_2.csv
splitfile_3.csv
splitfile_4.csv
splitfile_5.csv
splitfile_6.csv
splitfile_7.csv
splitfile_8.csv
splitfile_9.csv
testdata.manual.2009.06.14.csv

In [18]:
import pandas as pd

dataframe = pd.read_csv("data/test.csv", sep=',', names=['label','id', 'data', 'query', 'user', 'text'], encoding='utf8', header=None)
dataframe.head()

#df = pd.read_table('data/splitfile_1.csv', sep=',', names=['label','id', 'data', 'query', 'user', 'text'])
#df.head()

,label,id,data,query,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."